@keyframes slideAnimationKeyframes {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.row {
  border-bottom: 1px #ccc solid;
  padding: 5px;
  word-wrap: break-word;
  cursor: pointer;
}

.message {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: inherit;
  tansition: background-color 0.2s;
}

.message-expanded {
  background-color: grey;
  white-space: normal;
}

.dim {
  opacity: 0.5;
}

.rowAnimation {
  position: relative;
  animation: slideAnimationKeyframes push ease 0.25s;
}
