.contextPolicyStyle {
  font-size: 16px;
  position: relative;
  text-align: left;
  color: rgba(0, 0, 0, 0.70);
  padding: 14px 10px;
}

.infoTitle {
  font-size: 18px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 0px;
}

.infoSubtitle {
  font-size: 14px;
  position: relative;
  text-align: left;
  color: rgba(0, 0, 0, 0.541176);
  margin: 10px 10px;
}

.infoContextPaths {
  font-size: 14px;
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  margin: 10px 0px;
}

.policyBinOuterStyle {
  position: relative;
  min-width: 250px;
  max-width: 600px;
  margin: 5px;
  padding: 0px;
  background-color: blue;
}

.policyBinInnerStyle {
  position: relative;
  margin: 0px;
  padding: 5px;
}
